[submodule "themes/hugo-fresh"]
	path = auth-by-pay/themes/hugo-fresh
	url = https://github.com/Dhali-org/hugo-fresh.git
[submodule "auth-by-pay/themes/bulma"]
	path = auth-by-pay/themes/bulma
	url = https://github.com/jgthms/bulma.git
