/* Mobile devices (default) */
.markdown-section {
  margin: 0 5%;
  font-family: sans-serif;
  font-size: 16px;
}

#page-id .navbar-custom {
  display: none;
  visibility: hidden;
}

/* Medium devices (tablets, less than 992px) */
@media only screen and (min-width: 768px) {
  .markdown-section {
    margin: 0 20%;
  }
}

/* Large devices (desktops, less than 1200px) */
@media only screen and (min-width: 992px) {
  .markdown-section {
    margin: 0 20%;
  }
}
